.container {
    display: flex;
    grid-template-columns: 50% auto;
    max-width: 1700px;
}
.col-label {
    padding: 0.8em 0em;
    padding-left: 5%;
}
.col {
    padding: .4em 5em;
    padding-left: 2%;
}
.color-dark {
    background: #2885C4;
}
.color-light {
    background: #57B3F1;
}

input.txt {
    border: 0;
    padding: 0.3em;
    width: 90%;
    margin-bottom: 0em;
}
input.btn {
    border: 0;
    display:block;
    padding:1em 3em;
    background:#A5F883;
    color:#003A61;
    margin-bottom:1em;
    cursor:pointer;
}
.life-container {
    background:#3FA0E1;
    padding:.5em;
    font-weight:bold;
    cursor:pointer;
}
