<div class="layout-overflow">
  <app-header (navToggled)="resizeNav($event)"></app-header>
  <app-sidebar [style.width]="opened ? '150px' : null" [opened]="opened"></app-sidebar>
  <div id="main" [style.marginLeft]="opened ? '100px' : null">

    <div class="container color-dark">
      <div class="container" style="padding-top: 20px;">
        <div class="col-label" style="padding-top: 10px;">
          <p>Nome</p>
        </div>
        <div class="col">
          <input class="txt" type="text" name="nome">
        </div>
        <div class="col-label">
          <p>CPF</p>
        </div>
        <div class="col">
          <input class="txt" type="text" name="cpf">
        </div>
        <br>
      </div>
    </div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>