<div class="container color-dark">   
  <div class="col-center"> 
    <h1>Login</h1>
    <div class="well">
      <form role="form">
        <div class="form-group">
          <label class="control-label" for="usuario">Usuário</label>
          <input type="text" class="form-control" name="usuario" id="usuario">
        </div>
        <div class="form-group">
          <label class="control-label" for="senha">Senha</label>
          <input type="password" class="form-control" name="usuario" id="senha">
        </div>
        <div class="form-group text-center" style="padding-top: 10px; ">
          <input type="submit" class="btn-login" value="Entrar" (click)="logar()">            
        </div>
    </form>
  </div>  
  </div>
</div>