:host {
  box-shadow: 1px 0px 5px #000;
  height: 100%;
  width: 45px;
  position: absolute;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 0px;
}

nav {
  padding: 0px 10px 10px 15px;
  a,
  a:link,
  a:visited {
    color: white;
    text-decoration: none;
  }
  i {
    margin-right: 10px;
  }
}

.active {
  nav {
    i {
      font-size: 1em;
      margin-right: 0;
    }
  }
}
