<div>
    <nav>
        <ul class="list-unstyled">
            <li class="text-center">
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" aria-expanded="false">
                    <p *ngIf="opened == true">
                        <i class="fa fa-home"></i> Home
                    </p>
                    <p *ngIf="opened == false">
                        <i class="fa fa-home"></i>
                    </p>
                </a>
                <a routerLink="/cliente-filtro" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" aria-expanded="false">
                    <p *ngIf="opened == true">
                        <i class="fa fa-user"></i> Clientes
                    </p>
                    <p *ngIf="opened == false">
                        <i class="fa fa-user"></i>
                    </p>
                </a>
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" aria-expanded="false">
                    <p *ngIf="opened == true">
                        <i class="fa fa-car"></i> Veículos
                    </p>
                    <p *ngIf="opened == false">
                        <i class="fa fa-car"></i>
                    </p>
                </a>
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" aria-expanded="false">
                    <p *ngIf="opened == true">
                        <i class="fa fa-book"></i> Apólices
                    </p>
                    <p *ngIf="opened == false">
                        <i class="fa fa-book"></i>
                    </p>
                </a>
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" aria-expanded="false">
                    <p *ngIf="opened == true">
                        <i class="fa fa-money"></i> Finanças
                    </p>
                    <p *ngIf="opened == false">
                        <i class="fa fa-money"></i>
                    </p>
                </a>
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" aria-expanded="false">
                    <p *ngIf="opened == true">
                        <i class="fa fa-group"></i> Frotas
                    </p>
                    <p *ngIf="opened == false">
                        <i class="fa fa-group"></i>
                    </p>
                </a>
            </li>
        </ul>
    </nav>
</div>